@import "tailwindcss";

@theme {
  --color-background: #0B0F19;
  --color-surface: #1A2333;
  --color-primary: #EAB308;
  --color-secondary: #3B82F6;
  --color-accent: #EF4444;
}

@layer base {
  body {
    @apply bg-background text-white antialiased;
    overscroll-behavior-y: none;
    /* Native App Feel */
    user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent;
  }
}
